backend/__pycache__/
backend/lib/tempCodeRunnerFile.py
backend/lib/testbench.py
backend/lib/liwe.py
# backend/lib/user_data/
backend/.env

frontend/
tslearn/
temp.tsx
.venv/
junk/
personal/
.vscode/

